!!!
%html
  %head
    %title Laughing Man
    %link{:rel => "stylesheet", :type => "text/css", :href => "./laughing-man.css"}
  %body
    .outer
      %cite
        I thought what I'd do was, I'd pretend I was one of those deaf-mutes
      .inner
        .hat
        .eye.left
          .mask
        .eye.right
          .mask
        .smile-wrapper
          .smile
            .mask-wrapper
              .mask
