$blue: #004E72

@-webkit-keyframes rotate
  from
    -webkit-transform-origin: 170px 170px
    -webkit-transform: rotate(0deg)
  to
    -webkit-transform-origin: 170px 170px
    -webkit-transform: rotate(360deg)

@-moz-keyframes rotate
  from
    -moz-transform-origin: 170px 170px
    -moz-transform: rotate(0deg)
  to
    -moz-transform-origin: 170px 170px
    -moz-transform: rotate(360deg)

.outer
  display:       block
  width:         340px
  height:        340px

  border:        10px solid $blue
  border-radius: 340px

  background:    white

  position:      relative

.outer, .outer *
  margin:  0
  padding: 0

.inner
  position:      absolute
  top:           39px
  left:          39px

  display:       block
  width:         220px
  height:        220px

  border:        21px solid $blue
  border-radius: 220px

  background:    white

.hat
  .tip
    position:      absolute
    top:           32px
    left:          162px

    display:       block
    width:         16px
    height:        10px

    background:    $blue

  .gap
    position:      absolute
    top:           153px
    left:          39px

    display:       block
    width:         23px
    height:        8px

    background:    white

  .edge
    position:      absolute
    top:           132px
    left:          50px

    display:       block
    width:         230px
    height:        21px

    background:    $blue

  .rim
    position:      absolute
    top:           132px
    left:          278px

    display:       block
    width:         91px
    height:        34px

    border-top:    21px solid $blue
    border-right:  21px solid $blue
    border-bottom: 21px solid $blue
    border-left:    0px solid white

    border-top-right-radius:    78px
    border-bottom-right-radius: 78px

    background:    white

.eye
  &.left
    left:     36px

  &.right
    right:    37px

  position:   absolute
  top:        100px

  display:    block
  width:      50px
  height:     25px

  background: $blue

  overflow:   hidden

  border-top-left-radius:  50px
  border-top-right-radius: 50px

  .mask
    position: absolute
    top:      10px
    left:     -4px

    display:  block
    width:    58px
    height:   26px

    background: white

    border-top-left-radius:  50px
    border-top-right-radius: 50px

.smile-wrapper
  position:      absolute
  top:           127px
  left:          14px

  display:       block
  width:         192px
  height:        80px

  overflow:      hidden

  .smile
    position:      relative
    top:           -25px

    display:       block
    width:         192px
    height:        105px

    background:    $blue

    border-left:    0 solid
    border-right:   0 solid
    border-bottom:  0 solid
    border-top:     none

    border-bottom-left-radius:  210px
    border-bottom-right-radius: 210px

    .mask-wrapper
      position:      absolute
      bottom:        23px
      left:          23px

      display:       block
      width:         145px
      height:        36px

      overflow:      hidden

      margin:        auto

      .mask
        position:      absolute
        bottom:        0px

        display:       block
        width:         145px
        height:        72px

        background:    white

        border-bottom-left-radius:  135px
        border-bottom-right-radius: 135px

cite
  display:     block
  width:       340px
  height:      340px

  font-family: Impact, Helvetica, Arial
  font-style:  normal
  font-size:   30px
  color:       $blue

  -webkit-animation-name:             rotate
  -webkit-animation-duration:         8s
  -webkit-animation-iteration-count:  infinite
  -webkit-animation-timing-function:  linear

  -moz-animation-name:             rotate
  -moz-animation-duration:         8s
  -moz-animation-iteration-count:  infinite
  -moz-animation-timing-function:  linear

  span
    position:  absolute
    top:       155px
    left:      155px

    display:   block
    width:     30px
    height:    30px

    text-align: center

  $rot:   -40
  @for $i from 0 to 69
    $scale: 1.2

    @each $very_thin in 16, 28
      @if $i - 1 == $very_thin
        $scale: 0.6

      @if $i - 2 == $very_thin
        $scale: 0.8

    @each $thin in 2, 8, 13, 50, 65
      @if $i - 1 == $thin
        $scale: 1

      @if $i - 2 == $thin
        $scale: 1.1

    @each $wide in 10, 22, 41, 63
      @if $i - 1 == $wide
        $scale: 1.3

      @if $i - 2 == $wide
        $scale: 1.5

    @each $space in 1, 9, 14, 18, 21, 26, 30, 38, 40, 44, 48, 51, 57, 68
      @if $i - 1 == $space
        $scale: 0.3

    $rot: $rot + (360 / 69) * $scale

    span:nth-child(69n+#{$i})
      -webkit-transform: rotate(#{$rot}deg) translateY(-155px)
      -moz-transform:    rotate(#{$rot}deg) translateY(-155px)

#laughing-man
  width:  360px
  height: 360px
  margin: 32px auto

#about
  width:  460px
  margin: 32px auto

  font-family: Helvetica, Arial, sans
  line-height: 1.5em
