.outer {
  display: block;
  width: 340px;
  height: 340px;
  border: 10px solid #004e72;
  border-radius: 340px;
  background: white; }

.outer * {
  margin: 0;
  padding: 0; }

.inner {
  position: relative;
  display: block;
  width: 220px;
  height: 220px;
  border: 21px solid #004e72;
  border-radius: 220px;
  margin: 3px auto;
  background: white; }

.smile-wrapper {
  display: block;
  width: 192px;
  height: 80px;
  overflow: hidden;
  margin: 58% auto; }

.smile {
  position: relative;
  top: -25px;
  display: block;
  width: 192px;
  height: 105px;
  background: #004e72;
  border-left: 0 solid;
  border-right: 0 solid;
  border-bottom: 0 solid;
  border-top: none;
  border-bottom-left-radius: 210px;
  border-bottom-right-radius: 210px; }
  .smile .mask-wrapper {
    position: absolute;
    bottom: 23px;
    left: 23px;
    display: block;
    width: 145px;
    height: 36px;
    overflow: hidden;
    margin: auto; }
    .smile .mask-wrapper .mask {
      position: absolute;
      bottom: 0px;
      display: block;
      width: 145px;
      height: 72px;
      background: white;
      border-bottom-left-radius: 135px;
      border-bottom-right-radius: 135px; }

.eye {
  position: absolute;
  top: 100px;
  display: block;
  width: 50px;
  height: 25px;
  background: #004e72;
  overflow: hidden;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px; }
  .eye.left {
    left: 36px; }
  .eye.right {
    right: 37px; }
  .eye .mask {
    position: absolute;
    top: 10px;
    left: -4px;
    display: block;
    width: 58px;
    height: 26px;
    background: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px; }
