$blue: #004E72

.outer
  display:       block
  width:         340px
  height:        340px

  border:        10px solid $blue
  border-radius: 340px

  background:    white

.outer *
  margin:  0
  padding: 0

.inner
  position:      relative

  display:       block
  width:         220px
  height:        220px

  border:        20px solid $blue
  border-radius: 220px

  margin:        auto

  background:    white

.smile
  display:       block
  width:         190px
  height:        80px

  overflow:      hidden

  margin:        57% auto

.upper
  position:      relative
  display:       block

  width:         90%
  height:        21px
  margin:        0 5%

  background:    $blue

.lower
  position:      relative
  top:           -41px

  display:       block
  width:         150px
  height:        75px

  border-left:    21px solid $blue
  border-right:   21px solid $blue
  border-bottom:  21px solid $blue
  border-top:     none

  border-bottom-left-radius:  150px
  border-bottom-right-radius: 150px

